VITE_API_EVENT_URL=http://localhost:8080
VITE_ADMIN_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkZW1vLWFkbWluIiwicm9sZSI6IkFkbWluIiwiZXhwIjoxNzg5NDAyNDU3fQ.jYgfG1Ugp5wzF5I1eIt_IequLME1dbKsNiEOFgkWBwA
